<% include templates/header.ejs %>
<link rel="stylesheet" href="/css/body.css">
<section class="container">
	<h3>Change your Pictures</h3>
	<% if (locals.warning) { %>
		<div class="alert alert-warning" role="alert">
			<% warning %>
		</div>
	<% } %>
	<% if (locals.success) { %>
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
	<% } %>
	<% if (locals.error) { %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
	<% } %>
	<form id="frmUploader" enctype="multipart/form-data" action="/change-picture/upload" method="post">
		<input type="file" name="imgUploader" multiple />
		<input type="submit" name="submit" id="btnSubmit" value="Upload" />
	</form>
</section>

<% include templates/footer.ejs %>
