<% include templates/header.ejs %>
<link rel="stylesheet" href="/css/body.css">
<section class="container">
	<h3>Reset your password</h3>
	<% if (locals.warning) { %>
		<div class="alert alert-warning" role="alert">
			<% warning %>
		</div>
		<% } %>
		<% if (locals.success) { %>
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
		<% } %>
		<% if (locals.error) { %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
		<% } %>
	<form action="/settings/confirm-password/delete" method="post">
		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="pwd">Password</label>
				<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password" value="" required>
			</div>
		</div>
		<button class="btn btn-primary" type="submit">Delete</button>
	</form>
</section>

<% include templates/footer.ejs %>
