<!-- This Site has been developped by Amine TELLI and Mohamad MOUSSA !
Amine TELLI : contact@atelli.me or (+33) 07.81.06.80.92
Mohamad MOUSSA : mmoussa@student.42.fr or (+33) 07.81.78.82.38 -->


<html lang="en" dir="ltr">
  <head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Matcha</title>
	<link rel='stylesheet' href='/glyphicons-only-bootstrap/css/bootstrap.min.css' />
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/bootstrap-social/bootstrap-social.css">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
	<script type="text/javascript" src='/jquery/dist/jquery.js'></script>
	<script type="text/javascript" src='/bootstrap/dist/js/bootstrap.js'></script>
	<script type="module" src="https://unpkg.com/ionicons@4.5.9-1/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule="" src="https://unpkg.com/ionicons@4.5.9-1/dist/ionicons/ionicons.js"></script>
  </head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light" id="headerMenu">
		<a class="navbar-brand" href="/">Matcha</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor03">
			<div class="navbar-nav">
				<li class="nav-item">
					<a href="/login" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a>
				</li>
				<li class="nav-item">
					<a href="/signup" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Sign up</a>
				</li>
			</div>
		</div>
	</nav>
	<p>Match. Chat. Date.</p>
</body>
