
<% include templates/header.ejs %>
<link rel="stylesheet" href="/css/body.css">
<section class="container">
	<h3>Login</h3>
	<% if (locals.warning) { %>
		<div class="alert alert-warning" role="alert">
		  <% warning %>
		</div>
	  <% } %>
	  <% if (locals.success) { %>
		<div class="alert alert-success" role="alert">
		  <%= success %>
		</div>
	  <% } %>
	  <% if (locals.error) { %>
		<div class="alert alert-danger" role="alert">
		  <%= error %>
		</div>
	  <% } %>
	<form class="" action="/login/login_validation" method="post" novalidate>
		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="validationTooltipUsername">Username or E-mail</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
					</div>
					<input type="text" class="form-control" id="uname" name="uname" placeholder="Username" aria-describedby="validationTooltipUsernamePrepend" required>
				</div>
			</div>
			<div class="col-md-6 mb-3">
				<label for="validationTooltip01">Password</label>
				<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password" value="" required>
			</div>
		</div>
		<button class="btn btn-primary" type="submit">Sign in</button><a id="reset-passwd" href="/reset-password">Forgot your password ?</a>
	</form>
	<a class="btn btn-social btn-google" href="/login/google">
		<span class="fa fa-google"></span> Sign in with Google
	</a>
</section>

<% include templates/footer.ejs %>
