
<form  action="/suggest" method="get">
		<div class="filter">
			<select name="order" class="custom-select" id="order">
				<option  value="default" selected>Order by</option>
				<option value="age">Age</option>
				<option value="distance">Distance</option>
				<option value="popularity">Popularity</option>
				<option value="tags">Tags</option>
			</select>
		</div>
		<script>
			var orderParam = getUrlParameter("order");
			
			if (orderParam.length > 0) {
				$('#order option[value="' + orderParam[0] + '"]').attr("selected", true);
			}
		</script>
		<button type="submit" class="btn btn-dark search-btn">filter</button>
</form>
<% 
let i = -1;
while (++i < locals.nbUsers ) {%>
    <%= locals.users[i].username %>
<% } %>