</body>
<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="/about">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><ion-icon name="logo-facebook"></ion-icon></a><a href="#"><ion-icon name="logo-twitter"></ion-icon></a><a href="#"><ion-icon name="logo-snapchat"></ion-icon></a><a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                    <p class="copyright">mmoussa & atelli © 2019</p>
                </div>
            </div>
        </div>
    </footer>
</div>

</html>

<script src="/socket.io/socket.io.js"></script>
<script>

    <% if (locals.session.connect) { %>
        var nbtoast = 0;

        var socket = io.connect();
        
        socket.emit('joinRoom', '<%= locals.session.user.id %>');
        
        socket.on('notifMsg', function(data) {
            insertnotif(data);
        });

        function insertnotif(data) {
            var dt = new Date();
            var time = dt.getHours() + ":" + dt.getMinutes();
            allNotif = [];
            if (data.msg.length >= 50) {
                showMsg = data.msg.substring(0,50) + '...';
            } else {
                 showMsg = data.msg;
            }
            $('#notificationMenu a').each(function () {
                allNotif.push($(this).attr('href'));
            });
            if (allNotif.includes(data.url + data.from.id) == false) {
                $("#notificationMenu").append(
                    '<button class="dropdown-item" type="button">\
                        <a target="_blank" rel="noopener noreferrer" href="' + data.url + data.from.id +'">'
                            + data.title +  data.from.username + 
                        '</a>\
                    </button>'
                );            
            }
            $("#notif-toaster").append(
                '<div class="toast" id="toast' + nbtoast + '">\
                    <div class="toast-header">\
                        ' + data.title + ' <a target="_blank" rel="noopener noreferrer" href="' + data.url + data.from.id +'"> ' + data.from.username +'</a>\
                    </div>\
                    <div class="toast-body">\
                        ' + showMsg + '\
                    </div>\
                </div>'
            );
            $('#toast' + nbtoast).toast({
                delay: 5000
            });
            $('#toast' + nbtoast).toast("show");
            nbtoast++;
        }
    <% } %>


</script>
